.allcard {
    margin: 0 auto;
    width: 30%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    background: grey;
}

.addFavorite {
    background: white;
    border: 1px black solid;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

.title_card {
    text-align: center;
    color: white;
    font-size: 18px;
}


.favorite {
    background: gold;
}
